<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="form" (ngSubmit)="confirmAdd()">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Patient</mat-label>
            <input matInput formControlName="patientLabel" [matAutocomplete]="auto"
              (input)="onPatientSearch($any($event.target).value)">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="form.get('patient').hasError('required')">Patient is required</mat-error>
            <mat-hint>Type a name, CIN or phone to search</mat-hint>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPatientSelected($event.option.value)">
            <mat-option *ngFor="let patient of patients" [value]="patient">
              {{ patientLabel(patient) }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <!-- Only an admin picks a cabinet: staff are locked to their own. -->
      <div class="row" *ngIf="isAdmin">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cabinet</mat-label>
            <mat-select formControlName="cabinet" required>
              <mat-option *ngFor="let cabinet of cabinets" [value]="cabinet.id">
                {{ cabinet.name }} ({{ cabinet.number }})
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>business</mat-icon>
            <mat-error *ngIf="form.get('cabinet').hasError('required')">Cabinet is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="date" required>
            <mat-icon matSuffix>calendar_today</mat-icon>
            <mat-error *ngIf="form.get('date').hasError('required')">Date is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start</mat-label>
            <input matInput type="time" formControlName="start" required step="60">
            <mat-icon matSuffix>schedule</mat-icon>
            <mat-error *ngIf="form.get('start').hasError('required')">Start is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End</mat-label>
            <input matInput type="time" formControlName="end" required step="60">
            <mat-icon matSuffix>schedule</mat-icon>
            <mat-error *ngIf="form.get('end').hasError('required')">End is required</mat-error>
            <mat-hint>Must be after the start</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput rows="2" formControlName="description"></textarea>
            <mat-icon matSuffix>notes</mat-icon>
            <mat-error *ngIf="form.get('description').hasError('maxlength')">
              At most 2000 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-checkbox formControlName="payed">This appointment has been paid</mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || loading">
              {{ action === 'edit' ? 'Update' : 'Save' }}
            </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>